{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    
    <h1 class="h3 mb-2 text-gray-800">Users</h1>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        
            <button class="btn btn-success" data-toggle="modal" data-target="#userModal">Add User</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tb_user" class="table table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Last Login</th>
                            <th>Super User</th>
                            <th>Staff</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
   <!-- Logout Modal-->
   <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Create New User</h5>
               <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">×</span>
               </button>
           </div>
           <div class="modal-body">
            <form role="form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="firs_name">First Name</label>
                    <input type="text" class="form-control" autocomplete="off" value="{% if form.first_name.value == None %}{%else%}{{form.first_name.value}}{% endif %}" id="first_name" value="{{ users.first_name }}" name="first_name" placeholder="Enter first name">
                    {% if form.errors %}
                        <div class="text-danger">
                            <strong>{{ form.first_name.errors}}</strong>
                        </div>
                    {% endif%}
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" autocomplete="off" id="last_name" value="{% if form.last_name.value == None %}{%else%}{{form.last_name.value}}{% endif %}" value="{{ users.last_name }}" name="last_name" placeholder="Enter last name">
                    {% if form.errors %}
                        <div class="text-danger">
                            <strong>{{ form.last_name.errors}}</strong>
                        </div>
                    {% endif%}
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" autocomplete="off" value="{% if form.username.value == None %}{%else%}{{form.username.value}}{% endif %}" value="{{ users.username }}" name="username" placeholder="Enter username">
                    {% if form.errors %}
                        <div class="text-danger">
                            <strong>{{ form.username.errors}}</strong>
                        </div>
                    {% endif%}
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" value="{% if form.email.value == None %}{%else%}{{form.email.value}}{% endif %}" value="{{ users.email }}" name="email" placeholder="Enter email">
                    {% if form.errors %}
                        <div class="text-danger">
                            <strong>{{ form.email.errors}}</strong>
                        </div>
                    {% endif%}
                </div>
                <div class="form-group">
                    <label for="groups">Groups</label>
                    <select class="select2 col-sm-12 form-control" id="groups" name="groups">
                        <option value="cashier">Cashier</option>
                        <option value="manager">Manager</option>
                       <option value="admin">Admin</option>
                    </select>
                    {% if form.errors %}
                        <div class="text-danger">
                            <strong>{{ form.groups.errors}}</strong>
                        </div>
                    {% endif%}
                </div>
              
                <div class="form-group">
                    <label for="password">Password (Optional)</label>
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
                    {% if form.errors %}
                        <div class="text-danger">
                            <strong>{{ form.password1.errors}}</strong>
                        </div>
                    {% endif%}
                </div>
                <div class="form-group">
                    <label for="password">Retype password</label>
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Password">
                    {% if form.errors %}
                        <div class="text-danger">
                            <strong>{{ form.password2.errors}}</strong>
                        </div>
                    {% endif%}
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success">Save</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                
            </div>
        </form>
       </div>
   </div>
</div>
{% endblock %}
{% block javascript %}
   
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var tb_user = $("#tb_user").DataTable({
                processing: true,
                serverSide: true,
                searching: true,
                responsive: true,
                ordering: false,
                ajax: {
                        url: APP_URL+'/account/get-users',
                        type: "POST",
                        dataType: "json",
                        headers: {
                                    "X-Requested-With": "XMLHttpRequest",
                                    "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
                                },
                        
                },
                columnDefs:[
                    {
                    targets: [7],
                    data: null,
                    
                    render: function(data , type, row, meta){
                                       
                                            return "<button class='btn-sm btn-success'><i class='fa fa-edit'></i></button>";
                                        
                                        }
                    }
                ],
                columns: [
                    { data: 'id', name: 'id' },
                    { data: 'username', name: 'username' },
                    { data: 'email', name: 'email' },
                    { data: 'last_login', name: 'last_login' },
                    { data: 'is_superuser', name: 'is_superuser', render: function(data, type, row, meta){
                            if (data == true) {
                                return "<i class='fa fa-check-circle' style='color:green'></i>"
                            }else{
                                return "<i class='fa fa-times-circle' style='color:red'></i>"
                            }
                    }},
                    { data: 'is_staff', name: 'is_staff', render: function(data, type, row, meta){
                            if (data == true) {
                                return "<i class='fa fa-check-circle' style='color:green'></i>"
                            }else{
                                return "<i class='fa fa-times-circle' style='color:red'></i>"
                            }
                    }},
                    { data: 'is_active', name: 'is_active', render: function(data, type, row, meta){
                            if (data == true) {
                                return "<i class='fa fa-check-circle' style='color:green'></i>"
                            }else{
                                return "<i class='fa fa-times-circle' style='color:red'></i>"
                            }
                    }},
                ]
            });
        });
    </script>
{% endblock javascript %}